<!-- <h1>
  Welcome to {{ title }}!
</h1>
<table class="bordered" id="authors">
    <tbody>
  <tr class="const">
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Номер</th>
      <th>Перелік книг</th>
</tr> -->
<!-- <tr  *ngFor="let authorItem of booksItems">
  <td><a>{{authorItem?.firstName}}</a></td>  -->
  <!-- <td><a>{{sort(authorItem,booksItems)}}</a></td> -->
  <!-- <td><a>{{authorItem?.lastName}}</a></td>
  <td><a>{{authorItem?.number}}</a></td>
   <td><a routerLink="/books" routerLinkActive="active" *ngFor="let bookItem of booksItems">{{filterItem(authorItem,bookItem)}}</a></td>
</tr> -->
  <!-- </tbody>
</table> -->
<!-- <input type="text" [(ngModel)]="name">
<input type="text" name="" value="">
 -->
 <h1>
   Welcome to {{ title }}!
 </h1>
 <table class="bordered">
     <tr class="const">
         <th>Номер</th>
         <th>Ім'я</th>
         <th>Прізвище</th>
         <th>Перелік книг</th>
          <th>Редагувати</th>
          <th>Видалити</th>
   </tr>
   <tbody>
        <tr *ngFor="let author of authorsItems">
            <ng-template [ngTemplateOutlet]="loadTemplate(author)"
                        [ngTemplateOutletContext]="{ $implicit: author}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
 <button (click)="addAuthor()" class="add">Добавити</button>
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-author>
    <td>{{author.id}}</td>
    <td>{{author.firstName}}</td>
    <td>{{author.lastName}}</td>
    <td><a routerLink="/books" routerLinkActive="active">{{author.booksName}}</a></td>
    <td class="tdforbuttons">
        <input type="button" value="..." class="editButton" (click)=" editAuthor(author)" />
    </td>
    <td class="tdforbuttons">
        <input type="button" value="-" (click)="deleteBook(author)" class="del" />
    </td>
</ng-template>
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedAuthor.id" class="form-control" />
    </td>

    <td>
        <input type="text" [(ngModel)]="editedAuthor.firstName" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedAuthor.lastName" class="form-control" />
    </td>

    <td>
        <input type="text" [(ngModel)]="editedAuthor.booksName" class="form-control" />
        <!-- {{sortbooks(editedAuthor)}} -->
        <!-- <input type="text" [value]="booksForAuthor(editedAuthor)" class="form-control" /> -->
    </td>
    <td class="tdforbuttons">
        <input type="button" value="Зберегти" (click)="saveBook()" class="btn btn-success" class="save" />
    </td>
    <td class="tdforbuttons">
        <input type="button" value="Відмінити" (click)="cancel()" class="cancel" />
    </td>
</ng-template>
